.main{
    display: grid;
    grid-template-columns: auto auto;
}
.main>div{
    border: 1px solid black;
    text-align: start;
    padding: 0px 3px;
}

.questions{
    margin: 20px 50px 20px 50px;
}
.question-1{
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    background-color: aquamarine;
}
.question-2{
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    background-color:aqua;
}
.question-3{
    margin-top: 25px;
    border-radius: 10px;
    padding: 10px;
    background-color:bisque;
}