.header-image {
    margin-left: 50px;
    height: 70px;
    width: 150px;
}

a {
    font-size: 20px;
}


@media only screen and (max-width: 460px) {
    .navbar-nav {
        align-items: center;
    }

    .header-image {
        margin-left: 5px;
    }
}