.btn-color {
  background-color: blue;
  color: #fff;
}

.anchor {
  font-size: 20px;
  font-weight: 600;
  color: red;
}

.btn-color:hover {
  color: #ebf2fa;
}

.profile-image-pic {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.container {
  width: 800px;
}

.cardbody-color {
  background-color: #ebf2fa;
}

.anchor {
  text-decoration: none;
}

.signup a:hover {
  color: #0e1c36;
}

.signup a {
  font-size: 25px;
  font-weight: 600;

}

.signup p {
  font-size: 25px;
  font-weight: 800;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pwd-container {
  position: relative;
  width: 295px;
}

.card-body {
  width: 450px;
}

.pwd-container img {
  cursor: pointer;
  position: absolute;
  width: 20px;
  right: 8px;
  top: 8px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider_line {
  width: 120px;
  height: 3px;
  margin: 0 15px;
  background-color: rgba(149, 160, 167, 1);
}

.social-text {
  text-align: center;
  color: brown;
  font-size: 25px;
  font-weight: 600;
}

.social-site-logIn {
  text-align: center;
}